@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

@import "tailwindcss";

@layer base {
  body {
    @apply bg-odinbook-light;
    @apply text-black;
    @apply dark:bg-darkmode-dark;
    @apply dark:text-odinbook-light/60;
    font-family: var(--font-body);
  }
  h1 {
    font-size: var(--text-2xl);
    font-family: var(--font-log);
  }
  h2 {
    font-size: var(--text-xl);
    font-family: var(--font-log);
  }
  h3 {
    font-size: var(--text-lg);
    font-family: var(--font-log);
  }
  input {
    @apply border;
    @apply rounded-xl;
    @apply border-odinbook-altDark;
    @apply h-11;
    @apply p-2;
    @apply outline-0;
    @apply focus:border-2;
    @apply focus:border-odinbook-dark;
    @apply focus:ring-odinbook-dark;
    @apply placeholder-odinbook-dark;
    @apply dark:placeholder-odinbook-altDark;
    @apply dark:border-odinbook-dark;
    @apply dark:focus:ring-odinbook-altDark;
    @apply dark:focus:border-odinbook-altDark;
  }
}

@layer components {
  .icons {
    @apply dark:text-odinbook-light;
  }
}

@theme {
  --font-logo: "Architects Daughter", cursive;
  --font-body: "Nunito Sans", sans-serif;
  --color-odinbook-dark: #125e9d;
  --color-odinbook-altDark: #7892bc;
  --color-odinbook-light: #f3faff;
  --color-odinbook-altLight: #f1f1e6;
  --color-darkmode-dark: #121212;
  --color-darkmode-altDark: #212121;
}
