@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

@import 'tailwindcss';

@theme {
  --font-logo: 'Architects Daughter', cursive;
  --font-body: 'Nunito Sans', sans-serif;
  --color-odinbook-dark: #125e9d;
  --color-odinbook-altDark: #7892bc;
  --color-odinbook-light: #f3faff;
  --color-odinbook-altLight: #f1f1e6;
}